{% extends 'base.html' %}
{% block title %}Create Listing{% endblock %}
{% block content %}
<div id="form-cont">
    <nav>
        <div id="nav-elements">
            <!-- Logo now links to the profile page -->
            <a href="{{ url_for('main.profile') }}">
                <img id="nav-logo" src="{{ url_for('static', filename='images/SCSU_LogoRGB.png') }}" style="width: 100px;">
            </a>

            <!-- Log out button on the right -->
            <a id="logout-btn" class="btn-secondary" href="{{ url_for('main.logout') }}">Log Out</a>
        </div>

        <!-- Page heading -->
        <h1>SCSU BOOK SWAP</h1>
        <h2>CREATE LISTING</h2>
    </nav>

    <!-- Add enctype to allow image uploads - DEPRECATED -->
    <form method="post">
        {{ form.hidden_tag() }}

        <!-- Title -->
        {{ form.bookTitle(placeholder="Book Title", class="form-text-field") }}
        {% if form.bookTitle.errors %}
            <ul class="form-errors">
                {% for error in form.BookTitle.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <!-- Author -->
        {{ form.author(placeholder="Author", class="form-text-field") }}
        {% if form.author.errors %}
            <ul class="form-errors">
                {% for error in form.author.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {{ form.isbn(placeholder="ISBN (only numbers)", class="form-text-field") }}
        {% if form.isbn.errors %}
            <ul class="form-errors">
                {% for error in form.isbn.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <!-- Subject -->
        {{ form.subject(placeholder="Subject", class="form-text-field") }}
        {% if form.subject.errors %}
            <ul class="form-errors">
                {% for error in form.subject.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <!-- Condition -->
        {{ form.condition(placeholder="Condition", class="form-text-field") }}
        {% if form.condition.errors %}
            <ul class="form-errors">
                {% for error in form.condition.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <!-- Notes About Condition -->
        {{ form.notes(placeholder="Tell us more about the condition...", class="form-text-area-field") }}
        {% if form.notes.errors %}
            <ul class="form-errors">
                {% for error in form.notes.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <!-- Asking price -->
        {{ form.listPrice(placeholder="Asking Price", class="form-text-field") }}
        {% if form.listPrice.errors %}
            <ul class="form-errors">
                {% for error in form.listPrice.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <!-- Original price -->
        {{ form.origPrice(placeholder="Original Purchase Price", class="form-text-field") }}
        {% if form.origPrice.errors %}
            <ul class="form-errors">
                {% for error in form.origPrice.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <!-- Timestamp -->
        {{ form.timeStamp(class="form-text-field") }}

        <!-- Submit -->
        {{ form.submit(class="form-submit") }}
    </form>
</div>
{% endblock %}




