<!-- Template for the route displaying all user listings. -->

{% extends 'base.html' %}

{% block title %}View Listings{% endblock %}

{% block content %}
<nav>
    <div id="nav-elements">
        <!-- Logo links to profile -->
        <a href="{{ url_for('main.profile') }}">
            <img id="nav-logo" src="{{ url_for('static', filename='images/SCSU_LogoRGB.png') }}" style="width: 100px;">
        </a>

        <!-- Log out button -->
        <a id="logout-btn" class="btn-secondary" href="{{ url_for('main.logout') }}">Log Out</a>
    </div>

    <h1>SCSU BOOK SWAP</h1>
    <h2>VIEW LISTINGS</h2>
</nav>

<div id="listings-feed">
    {% for listing in listings %}
        <div class="listing-card">
            <p class="posted-by">Posted by {{ listing.User.fname }} {{ listing.User.lname}}</p>


            <div class="listing-details">
                <h3>{{ listing.book.title }}</h3>
                <p><strong>Author:</strong> {{ listing.book.author }}</p>
                <p><strong>Subject:</strong> {{ listing.book.subject }}</p>
                <p><strong>Price:</strong> ${{ listing.book.price }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}