{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<div id="form-cont">
    <!-- `nav` container holds 'Back' anchor - redirecting to home page. And "Login" heading. -->
    <nav>
        <a class="btn-secondary nav-start" href={{ url_for('main.welcome')  }}>Back</a>
        <h1>Create an Account</h1>
    </nav>

    <!-- Form for the document. User logs in by entering their (valid) credentials. Uses forms defined in `forms.py`. -->
    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.first_name(placeholder="First Name", class="form-text-field") }}
        {{ form.last_name(placeholder="Last Name", class="form-text-field") }}
        {{ form.major(placeholder="Your Major", class="form-text-field") }}
        {{ form.email(placeholder="SCSU E-mail Address", class="form-text-field") }}

        <!-- Display email input error messages (via flash) -->
        {% if form.email.errors %}
            <div class="form-error-msg">
                <img id="error-icon" src="{{ url_for('static', filename='images/caution.png') }}">
                <p id="error-txt">{{ form.email.errors[-1] }}</p>
            </div>
        {% endif %}

        {{ form.password(placeholder="Create Password", class="form-text-field") }}
        {{ form.confirm(placeholder="Verify Password", class="form-text-field") }}
        
        <!-- Display error message for non-matching passwords -->
        {% if form.password.errors %}
            <div class="form-error-msg">
                <img id="error-icon" src="{{ url_for('static', filename='images/caution.png') }}">
                <p id="error-txt">{{ form.password.errors[-1] }}</p>
            </div>
        {% endif %}

        {{ form.submit(class="form-submit") }}
    </form>
</div>
{% endblock %}