{% extends 'base.html' %}

{% block content %}
    <main>
        <div id="welcome-content">
            <h1>Welcome to the SCSU Book Swap</h1>
            <div id="btn-container">
                <a class="btn-main" href="{{ url_for('main.login') }}">LOGIN</a>
                <!-- Registration link unimplemented currently -->
                <a class="btn-main" href="#">SIGN UP</a>
            </div>
            <img src="{{ url_for('static', filename='images/SCSU_LogoRGB.png') }}" style="width: 300px;">
        </div>
    </main>
    <footer>
    </footer>
{% endblock %}